<!DOCTYPE html>
<html>
<head>
	<title>TheGossipProject</title>
</head>
<body>
	
	<div style="margin-top: 220px; ">
		<h1 style="text-align:center;background-color: green">Bienvevue dans The Gossip Project</h1>
	<p class="text-center">
		Si vous voulez voir les potins <%= link_to "clique ici", gossips_path %>
	</p>
	</div>

</body>
</html>