<!DOCTYPE html>
<html>
	<head>
		<title>Modification des commentaires</title>
	</head>
	<body>

	<%= form_tag url_for(action: 'update'), method: "put" do%>
  
    <%= text_area_tag 'content' , @comment.content%><br/><br/>			
  	<%=submit_tag "save"%>
<%end%></br>
		</p>
	</body>
</html>