<!DOCTYPE html>
<html>
<head>
	<title>TheGossipProject</title>
</head>
<body>
	<h1 style="text-align:center;background-color: green">Bienvevue dans The Gossip Project</h1>
	<p>
		Si vous voulez voir les potins <a href="/accueil">clique ici</a>
	</p>

</body>
</html>